# Node.js dependencies
node_modules/

# Next.js build directory
.next/

# Compiled files
*.log
*.pem
*.pid
*.seed
*.pid.lock
*.log
*.swp
.DS_Store
.idea/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js development server
npm-debug.log
yarn-debug.log
yarn-error.log

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
